{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="landing">
  <h1 class="h">Welcome to Fashionista</h1>
  <p>
    Get the wardrobe you love.
  </p>
</section>
<section id="choose">
  <div class="container">
    <div id="myup" class="rounded mx-auto d-block">
      <div class="contain">
        <div class="wrapper">
          <div class="image">
            <img src="" id="HideImg" alt="" onerror='this.style.display = "none"' />
          </div>
          <div class="content" id="choosen_one">
            <div class="icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </div>
            <div class="text">
              No file chosen, yet!
            </div>
          </div>
          <div id="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
          <div class="file-name">
            File name here
          </div>
        </div>
      </div>
      <button id="custom-btn" class="btn btn-secondary m-2" onclick="defaultBtnActive()">Upload an Image</button>
      <input id="default-btn" type="file" hidden>
      <form method="post" action="pyfun">
        <div class="d-grid gap-2 m-1">
          <button class="btn btn-primary" type="submit" name="fun">Run</button>
      </form>
    </div>
  </div>
  <div class="display-area">
    <div class="cards-wrapper">
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class=" card"><img src="{% static '/images/c.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/c.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/b.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>

      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/b.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/d.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>

      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>

      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
      <div class="card"><img src="{% static '/images/a.jpg' %}" alt="" onclick='document.getElementById("choosen_one").innerHTML = "<img src=" + this.src + "/>"'></div>
    </div>
  </div>

  <div class="dots-wrapper">
    <button class="dot active"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
  </div>
  <script>
    // In HTML, .display-area has the width of 4 cards = 880px. Each card is 200px width and margin set to 10px.
    // .display-area has a .cards-wrapper which contains all the cards. .cards-wrapper is set to display flex.
    // .display-area has overflow hidden to hide the portion of cards-wrapper which extends beyond the container's width.

    const wrapper = document.querySelector('.cards-wrapper');
    // console.log(wrapper.clientWidth);

    // grab the dots
    const dots = document.querySelectorAll('.dot');
    // the default active dot num which is array[0]
    let activeDotNum = 0;

    dots.forEach((dot, idx) => {
      //   number each dot according to array index
      dot.setAttribute('data-num', idx);

      //   add a click event listener to each dot
      dot.addEventListener('click', (e) => {

        let clickedDotNum = e.target.dataset.num;
        // console.log(clickedDotNum);
        //     if the dot clicked is already active, then do nothing
        if (clickedDotNum == activeDotNum) {
          // console.log('active');
          return;
        } else {
          // console.log('not active');
          // shift the wrapper
          let displayArea = wrapper.parentElement.clientWidth;
          // let pixels = -wrapper.clientWidth * clickedDotNum;
          let pixels = -displayArea * clickedDotNum
          wrapper.style.transform = 'translateX(' + pixels + 'px)';
          //       remove the active class from the active dot
          dots[activeDotNum].classList.remove('active');
          //       add the active class to the clicked dot
          dots[clickedDotNum].classList.add('active');
          //       now set the active dot number to the clicked dot;
          activeDotNum = clickedDotNum;
        }
      });
    });

    const wrapper = document.querySelector(".wrapper");
    const fileName = document.querySelector(".file-name");
    const defaultBtn = document.querySelector("#default-btn");
    const customBtn = document.querySelector("#custom-btn");
    const cancelBtn = document.querySelector("#cancel-btn i");
    const img = document.querySelector("img");
    let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;

    function defaultBtnActive() {
      defaultBtn.click();
    }

    defaultBtn.addEventListener("change", function() {
      document.getElementById("HideImg").style.display = "inline";
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function() {
          const result = reader.result;
          img.src = result;
          wrapper.classList.add("active");
        }
        cancelBtn.addEventListener("click", function() {
          img.src = "";
          wrapper.classList.remove("active");
        })
        reader.readAsDataURL(file);
      }
      if (this.value) {
        let valueStore = this.value.match(regExp);
        fileName.textContent = valueStore;
      }
    });

    function swap_image(source_img) {
      console.log(source_img)
      document.getElementById('choosen_one').innerHTML = "<img src=" + source_img + " />"
    }
  </script>
</section>
{% endblock %}