{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="landing">
      <h1 class="h">Welcome to Fashionista</h1>
      <p>
        Get the wardrobe you love.
      </p>
    </section>



    <section id="choose">
      <h1 class="mt-2">Choose an image</h1>
      <p id="myup">
        <div class="contain">
          <div class="wrapper">
            <div class="image">
              <img src="" id="HideImg" alt="" onerror='this.style.display = "none"' />
            </div>
            <div class="content">
              <div class="icon">
                <i class="fas fa-cloud-upload-alt"></i>
              </div>
              <div class="text">
                No file chosen, yet!
              </div>
            </div>
            <div id="cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <div class="file-name">
              File name here
            </div>
          </div>
          <button onclick="defaultBtnActive()" id="custom-btn">Upload a file</button>
          <input id="default-btn" type="file" hidden>
          <form method="post" action="pyfun">
            
            <button type="submit" name="fun">Run script</button>
          </form>
        </div>

      </p>      
      <div class="row mb-2">
        <div class="col-lg-3" style="padding-right:10px;"><img src="{% static '/images/a.jpg' %}" width="200" height="250" /></div>
        <div class="col-lg-3" style="padding-right:10px;"><img src="{% static '/images/b.jpg' %}" width="200" height="250" /></div>
        <div class="col-lg-3" style="padding-right:10px;"><img src="{% static '/images/c.jpg' %}" width="200" height="250" /></div>
        <div class="col-lg-3" style="padding-right:10px;"><img src="{% static '/images/e.jpeg' %}" width="200" height="250" /></div>
      </div>                    
    </section>

  
    {% endblock %}