{% extends 'base.html' %}
{% load static %}
{% block tags %}

<section id="tags" class="text-center">
    <h1 class="mt-5">Tags generated</h1>
    <p>
      Top links for the image you chose, Happy shopping!
    </p>
    <ul class="list-group">
      <li class="list-group-item bg-dark text-white" aria-current="true"><a href="https://www.myntra.com/shirts/highlander/highlander-men-white-and-black-slim-fit-striped-casual-shirt/11899516/buy">https://www.myntra.com/shirts/highlander/highlander-men-white-and-black-slim-fit-striped-casual-shirt/11899516/buy</a></li>
      <li class="list-group-item bg-dark text-white"><a href="https://www.myntra.com/shirts/highlander/highlander-men-white--blue-slim-fit-printed-casual-shirt/11964920/buy">https://www.myntra.com/shirts/highlander/highlander-men-white--blue-slim-fit-printed-casual-shirt/11964920/buy</a></li>
      <li class="list-group-item bg-dark text-white"><a href="https://www.myntra.com/shirts/bene-kleed/bene-kleed-men-off-white--blue-slim-fit-printed-casual-shirt/7189947/buy">https://www.myntra.com/shirts/bene-kleed/bene-kleed-men-off-white--blue-slim-fit-printed-casual-shirt/7189947/buy</a></li>
      <li class="list-group-item bg-dark text-white"><a href="https://www.myntra.com/shirts/mr-bowerbird/mr-bowerbird-men-made-in-india-natural-dyed-hand-block-print-together-shirt/13316300/buy">https://www.myntra.com/shirts/mr-bowerbird/mr-bowerbird-men-made-in-india-natural-dyed-hand-block-print-together-shirt/13316300/buy</a></li>
      <li class="list-group-item bg-dark text-white"><a href="https://www.myntra.com/shirts/highlander/highlander-men-white--navy-blue-slim-fit-striped-casual-shirt/10863452/buy">https://www.myntra.com/shirts/highlander/highlander-men-white--navy-blue-slim-fit-striped-casual-shirt/10863452/buy</a></li>
      <a class="btn btn-primary" href="https://www.myntra.com/shirts/highlander/highlander-men-white--navy-blue-slim-fit-striped-casual-shirt/10863452/buy" role="button">highlander-men-white--navy-blue-slim-fit-striped-casual-shirt</a>
    </ul>
  </section>

{% endblock tags %}