{% extends 'base.html' %}
{% load static %}
{% block test %}
<div class="shadow-lg p-3 mb-5 bg-body rounded text-center">
<p>
    <br><br><br><br><br>
    <h1>Uploading images</h1>
</p>
<form method="post" action="test" enctype="multipart/form-data">
   
     {{form.as_p}}
    
    <button class="btn btn-secondary" type="submit">Upload</button>

</form>

{% if img_obj %}
<h3>Successfully uploaded</h3>
<img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px;">
<form method="post" action="predict">
<input type="hidden" id="url" name="url" value="{{ img_obj.image.url }}">
<button class="btn btn-secondary" type="submit">Predict</button>
{% endif %}
</form>
</div>
{% endblock %}